<?xml version="1.0" encoding="UTF-8" ?>
<!--
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd">
-->



<beans xmlns = "http://www.springframework.org/schema/beans"
           xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
           xmlns:context = "http://www.springframework.org/schema/context"
           xsi:schemaLocation = "http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
   http://www.springframework.org/schema/context
   http://www.springframework.org/schema/context/spring-context-3.0.xsd">


                                       <!--      Using setter injection -->
      <bean id="customer" class="com.springAssignment.Q1.Customer">
          <property name="customerId" value="001"/>
          <property name="customerName" value="Mohsin"/>
          <property name="customerContact" value="7010123456"/>
          <property name="customerAddress" ref="custAddress"/>

      </bean>
      <bean id="custAddress" class="com.springAssignment.Q1.Address">
          <property name="street" value="Abc"/>
          <property name="city" value="Chennai"/>
          <property name="state" value="TamilNadu"/>
          <property  name="country" value="India"/>
          <property name="zip" value="600026" />
      </bean>



                                <!-- Using constructor injection -->
    <bean id="customerCon" class = "com.springAssignment.Q1.Customer">
        <constructor-arg  type ="int" value="002"/>
        <constructor-arg value="Basha"/>
        <constructor-arg value="9432678912"/>
        <constructor-arg ref="custAddressCon"/>
    </bean>
    <bean id="custAddressCon" class="com.springAssignment.Q1.Address">
        <constructor-arg value="SSS"/>
        <constructor-arg value="Chennai"/>
        <constructor-arg value="TamilNadu"/>
        <constructor-arg value="India"/>
        <constructor-arg value="608001" />
    </bean>

    <!-- instead of adding each bean postPorcessor -->
    <context:annotation-config/>
</beans>